body{
    background-color: rgb(20, 189, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    height: 100%;
}
.grid-item {
    border: 10px solid rgba(0, 0, 0, 0.2);
    height: 100px;
    font-size: 30px;
    text-align: center;
}