body{
    background-color: rgb(20, 133, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    font-size: 50px;
    color: white;
    margin-top: 12.5%;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 8px;  
    display: block;
    margin-top: 12.5%;
}